*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: sans-serif;
  background-color: $base-color;
}

#content,
.main {
  height: 100%;
}

.container--max-width--810 {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Gryffensee Zwei";
  src: url('/fonts/GryffenseeZwei.woff') format("woff"),
       url('/fonts/GryffenseeZwei.otf') format("truetype");
}
