[class*='grid__col-'] {
  float: left;
}

[class*='grid__col-'] {
  padding-left: 10px;
  padding-right: 10px;
}

.grid:after {
  content: '';
  display: table;
  clear: both;
}

// Two columns
.grid__col-1-2 {
  width: 50%;
}

// Three columns
.grid__col-1-3 {
  width: 33.33%;
}

.grid__col-2-3 {
  width: 66.66%;
}
