@import "reset";
@import "bourbon";
@import "variables";
@import "home";
@import "work";
@import "project";

html, body {
  height: 100%;
  width: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: sans-serif;
  background-color: $base-color;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#app-container {
  height: 100%;
}

.section-title {
  margin-bottom: 100px;
  margin-top: 180px;
  text-transform: uppercase;

  h2 {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 12px;
    color: $brand-color-darker;
  }

  ul {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;

    li {
      display: inline;
      padding: 0 10px;
      color: #888;
    }
  }
}

@font-face {
  font-family: "Gryffensee Zwei";
  src: url('/fonts/GryffenseeZwei.woff') format("woff"),
       url('/fonts/GryffenseeZwei.otf') format("truetype");
}
